<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="numbers">
                                        <p class="card-title">Work from home</p>
                                        <p class="card-category">1
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="numbers">
                                        <p class="card-title">DAY-OFF</p>
                                        <p class="card-category">0
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="numbers">
                                        <p class="card-title">AM-OFF</p>
                                        <p class="card-category">1
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="numbers">
                                        <p class="card-title">PM-OFF</p>
                                        <p class="card-category">1
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card" style="padding: 15px;">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Check in - out</th>
                                        <th>Lunch break</th>
                                        <th>Hours</th>
                                        <th>Working Type</th>
                                        <th>OFF?</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Le Hoai Hai</td>
                                            <td>8:00 - 18:00</td>
                                            <td>1hr</td>
                                            <td>9hrs</td>
                                            <td>Office</td>
                                            <td>NO</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Hoai Nhan</td>
                                            <td>8:00 - 17:00</td>
                                            <td>1hr</td>
                                            <td>8hrs</td>
                                            <td>WFH</td>
                                            <td>NO</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Le Hong Nhung</td>
                                            <td>13:00 - 18:00</td>
                                            <td>1hr</td>
                                            <td>5hrs</td>
                                            <td>Office</td>
                                            <td>AM-OFF</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Lan Anh</td>
                                            <td>8:00 - 18:00</td>
                                            <td>1hr</td>
                                            <td>9hrs</td>
                                            <td>Office</td>
                                            <td>NO</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Thai Tuan</td>
                                            <td>8:00 - 12:00</td>
                                            <td>1hr</td>
                                            <td>4hrs</td>
                                            <td>Office</td>
                                            <td>PM-OFF</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Le Hoai Hai</td>
                                            <td>8:00 - 18:00</td>
                                            <td>1hr</td>
                                            <td>9hrs</td>
                                            <td>Office</td>
                                            <td>NO</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Le Hoai Hai</td>
                                            <td>8:00 - 18:00</td>
                                            <td>1hr</td>
                                            <td>9hrs</td>
                                            <td>Office</td>
                                            <td>NO</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Le Hoai Hai</td>
                                            <td>8:00 - 18:00</td>
                                            <td>1hr</td>
                                            <td>9hrs</td>
                                            <td>Office</td>
                                            <td>NO</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>