<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="box">
                        <p class="txt">Work from home</p>
                        <p class="txt">0</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="box">
                        <p class="txt">DAY-OFF</p>
                        <p class="txt">0</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="box">
                        <p class="txt">AM-OFF</p>
                        <p class="txt">0</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="box">
                        <p class="txt">PM-OFF</p>
                        <p class="txt">0</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="box" style="padding-top: 15px; padding-bottom: 15px;">
                        <div style=" height: 460px; overflow: auto; background-color: white; margin-left: 10px;">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>#Code</th>
                                    <th>Name</th>
                                    <th>Check in-out</th>
                                    <th>Lunch break</th>
                                    <th>Hours</th>
                                    <th>Working type</th>
                                    <th>OFF?</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>24001</td>
                                        <td>Hoai Hai</td>
                                        <td>8:00 - 17:00</td>
                                        <td>1.0hr</td>
                                        <td>8.0hrs</td>
                                        <td>Office</td>
                                        <td>NO</td>
                                    </tr>
                                    <tr>
                                        <td>24002</td>
                                        <td>Hoai Nhan</td>
                                        <td>8:00 - 17:00</td>
                                        <td>1.0hr</td>
                                        <td>8.0hrs</td>
                                        <td>WFH</td>
                                        <td>NO</td>
                                    </tr>
                                    <tr>
                                        <td>24003</td>
                                        <td>Hong Nhung</td>
                                        <td>13:00 - 18:00</td>
                                        <td>1.0hr</td>
                                        <td>5.0hrs</td>
                                        <td>Office</td>
                                        <td>AM-OFF</td>
                                    </tr>
                                    <tr>
                                        <td>24004</td>
                                        <td>Hoai Hai</td>
                                        <td>__-__</td>
                                        <td>__</td>
                                        <td>__</td>
                                        <td>__</td>
                                        <td>DAY-OFF</td>
                                    </tr>
                                    <tr>
                                        <td>24005</td>
                                        <td>Hoai Hai</td>
                                        <td>8:00 - 17:00</td>
                                        <td>1.0hr</td>
                                        <td>8.0hrs</td>
                                        <td>Office</td>
                                        <td>NO</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>