.layout {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar_pc {
    width: 250px;
    background-color: #fff;
    border-right: 2px solid #16423C;
    display: flex;
    flex-direction: column;
}

.sidebar_mobile {
    width: 250px;
    background-color: #fff;
    border-right: 2px solid #16423C;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    display: none;
}

.sidebar_mobile-header {
    display: flex;
    justify-content: space-between;
}

.pc-logo {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 5px;
    margin-bottom: -7px;
}

.mobile-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.layout-content {
    flex: 1;
    padding: 10px 15px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
}

.bars {
    display: none;
    cursor: pointer;
}

.user-name {
    margin-right: 10px;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #16423C;
    padding: 20px 0px;
    cursor: pointer;
}

.sidebar-item {
    padding: 10px 0px;
    margin: 5px;
    font-size: 16px;
    padding-left: 45px;
    color: #16423C;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.selected {
    background-color: #E9EFEC;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1024px) {
    .sidebar_pc {
        display: none;
    }

    .sidebar_mobile {
        display: block;
    }

    .bars {
        display: block;
    }
}