<div class="container">
    <div class="fst-section">
        <div class="cs-card col-12-6-3 fst-section-item">
            <i class="fa-solid fa-play icon check-in-icon"></i>
            <div class="check-in">
                <div class="txt-center">Check-In</div>
                <div class="txt-center">__:__</div>
            </div>
        </div>
        <div class="cs-card col-12-6-3 fst-section-item">
            <i class="fa-solid fa-pause icon check-in-icon"></i>
            <div class="check-in">
                <div class="txt-center">Check-Out</div>
                <div class="txt-center">__:__</div>
            </div>
        </div>
        <div class="cs-card col-12-6-3" style="display: flex; flex-direction: column; justify-content: center;">
            <div class="txt-center">Working Type</div>
            <div class="txt-center">Office</div>
        </div>
        <div class="cs-card col-12-6-3 fst-section-item">
            <div style="flex: 1.3;">
                <div class="txt-center">Total this day:</div>
                <div class="txt-center">Average:</div>
            </div>
            <div style="flex: 1;">
                <div class="txt-center">8.0hrs</div>
                <div class="txt-center">7.9hrs</div>
            </div>
        </div>
    </div>
    <div class="sec-section">
        <div class="posts col-12-6-6 cs-card">
            <div class="post-header txt-center txt-lg">NEW POSTS</div>
            <div class="post-item">
                <div class="post-name">Lịch nộp báo cáo đồ án 2 học kỳ 1 năm học 2024-2025 năm học 2024-2025</div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="post-level txt-sm danger">Must Read</div>
                    <div class="post-date txt-sm">09/09/2024</div>
                </div>
            </div>
            <div class="post-item">
                <div class="post-name">Lịch nộp báo cáo đồ án 2 học kỳ 1 năm học 2024-2025 năm học 2024-2025</div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="post-level txt-sm success">Normal</div>
                    <div class="post-date txt-sm">09/09/2024</div>
                </div>
            </div>
            <div class="post-item">
                <div class="post-name">Lịch nộp báo cáo đồ án 2 học kỳ 1 năm học 2024-2025 năm học 2024-2025</div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="post-level txt-sm warning">Important</div>
                    <div class="post-date txt-sm">09/09/2024</div>
                </div>
            </div>
        </div>
        <div class="features col-12-6-6 cs-card">
            <div class="post-header txt-center txt-lg">FEATURES</div>
            <div class="feature-list">
                <div class="feature-item col-12-6-4">
                    <i class="fa-solid fa-business-time icon feature-icon txt-center"></i>
                    <div class="feature-name txt-sm txt-center">TIMESHEET</div>
                </div>
                <div class="feature-item col-12-6-4">
                    <i class="fa-solid fa-file-export icon feature-icon txt-center"></i>
                    <div class="feature-name txt-sm txt-center">REQUESTS</div>
                </div>
                <div class="feature-item col-12-6-4">
                    <i class="fa-solid fa-computer icon feature-icon txt-center"></i>
                    <div class="feature-name txt-sm txt-center">DEVICES</div>
                </div>
                <div class="feature-item col-12-6-4">
                    <i class="fa-regular fa-paper-plane icon feature-icon txt-center"></i>
                    <div class="feature-name txt-sm txt-center">NEW POST</div>
                </div>
                <div class="feature-item col-12-6-4">
                    <i class="fa-solid fa-users icon feature-icon txt-center"></i>
                    <div class="feature-name txt-sm txt-center">USER INFO</div>
                </div>
                <div class="feature-item col-12-6-4">
                    <i class="fa-solid fa-gear icon feature-icon txt-center"></i>
                    <div class="feature-name txt-sm txt-center">SETTING</div>
                </div>
            </div>
        </div>
    </div>
</div>