<div class="container-row">
    <div class="posts lg-5 md-6 sm-12 cs-card">
        <div class="post-header txt-center">POSTS</div>
        <div class="post-list">
            <div class="post-item">
                <div class="post-name">Lịch nộp báo cáo đồ án 2 học kỳ 1 năm học 2024-2025 năm học 2024-2025</div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="post-level txt-sm success">Normal</div>
                    <div class="post-date txt-sm">09/09/2024</div>
                </div>
            </div>
            <div class="post-item">
                <div class="post-name">Lịch nộp báo cáo đồ án 2 học kỳ 1 năm học 2024-2025 năm học 2024-2025</div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="post-level txt-sm warning">Important</div>
                    <div class="post-date txt-sm">09/09/2024</div>
                </div>
            </div>
            <div class="post-item">
                <div class="post-name">Lịch nộp báo cáo đồ án 2 học kỳ 1 năm học 2024-2025 năm học 2024-2025</div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="post-level txt-sm success">Normal</div>
                    <div class="post-date txt-sm">09/09/2024</div>
                </div>
            </div>
            <div class="post-item">
                <div class="post-name">Lịch nộp báo cáo đồ án 2 học kỳ 1 năm học 2024-2025 năm học 2024-2025</div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="post-level txt-sm warning">Important</div>
                    <div class="post-date txt-sm">09/09/2024</div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-content lg-7 md-6 sm-12 cs-card">
        <div class="post-name">Lịch nộp báo cáo đồ án 2 học kỳ 1 năm học 2024-2025 năm học 2024-2025</div>
        <div class="txt-sm">09/09/2024</div>
        <div style="border-bottom: #C4DAD2 1.4px solid; margin: 10px 0;"></div>
    </div>
</div>