<div class="container-col">
    <div class="fst-section">
        <div class="cs-card lg-3 md-6 sm-12">
            <div class="txt-center">Working Days</div>
            <div class="txt-center">0/20 days</div>
        </div>
        <div class="cs-card lg-3 md-6 sm-12">
            <div class="txt-center">Days Off</div>
            <div class="txt-center">20 days</div>
        </div>
        <div class="cs-card lg-3 md-6 sm-12">
            <div class="txt-center">Work from home</div>
            <div class="txt-center">0 day</div>
        </div>
        <div class="cs-card lg-3 md-6 sm-12 fst-section-item">
            <div style="flex: 1.4;">
                <div class="txt-center">Total hours:</div>
                <div class="txt-center">Avg hours:</div>
            </div>
            <div style="flex: 1;">
                <div class="txt-center">8.0hrs</div>
                <div class="txt-center">7.9hrs</div>
            </div>
        </div>
    </div>
    <div class="sec-section">
        <div class="sheets lg-9 cs-card">
            <div class="sheet-header mg-t-5">
                <i class="fa-solid fa-angle-left mg-h-10 hand"></i>
                <label class="mg-h-10">10/09/2024</label>
                <i class="fa-solid fa-angle-right mg-h-10 hand"></i>
            </div>
            <div class="split mg-t-10"></div>
            <div class="sheet-table">
                <table class="table">
                    <thead>
                        <th>Date</th>
                        <th>Check in - out</th>
                        <th>Lunch break</th>
                        <th>Hours</th>
                        <th>Working type</th>
                        <th>OFF?</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10/09/2024</td>
                            <td>08:00 - 17:00</td>
                            <td>1hr</td>
                            <td>8.0hrs</td>
                            <td>Office</td>
                            <td>NO</td>
                            <td><i class="fa-regular fa-hand hand"></i></td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="changes lg-3 cs-card"></div>
    </div>
</div>