<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="box" style="padding-top: 15px; padding-bottom: 15px;">
                        <div style="display: flex;">
                            <div class="icon-box">
                                <i class="fa-solid fa-arrow-left" (click)="previousDay()"></i>
                            </div>
                            <div class="txt" style="width: 100px;">{{currentDate}}</div>
                            <div class="icon-box">
                                <i class="fa-solid fa-arrow-right" (click)="nextDay()"></i>
                            </div>
                        </div>
                        <div style=" height: 540px; overflow: auto; background-color: white; margin-left: 10px;">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>#Code</th>
                                    <th>Full Name</th>
                                    <th>Current Task</th>
                                    <th>Status</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr (click)="openModal()">
                                        <td>24002</td>
                                        <td>Hoai Nhan</td>
                                        <td>Load data for Salary page</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr (click)="openModal()">
                                        <td>24003</td>
                                        <td>Hong Nhung</td>
                                        <td>Implement API create new post</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr (click)="openModal()">
                                        <td>24004</td>
                                        <td>Hoai Hai</td>
                                        <td>Change logic feature time sheet</td>
                                        <td>50%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal"
                style="display: block; z-index: 1050; opacity: 100; top: 100px; overflow: visible;"
                aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="showModal">
                <div class="modal-dialog"
                    style="padding: 20px;background-color: white;border-radius: 5px;margin-left: 500px;border: 1px; border-color: #f0f0f0;">
                    <div class="modal-content" style="border: 0;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết công việc</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                (click)="closeModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin: 10px 0;">
                                <div class="col-12">
                                    <div class="row" style="margin-bottom: 15px;">
                                        <div class="col-9">
                                            <label class="hour-title">Task name 1</label>
                                        </div>
                                        <div class="col-3">
                                            <div>
                                                <input type="checkbox">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row" style="margin-bottom: 15px;">
                                        <div class="col-9">
                                            <label class="hour-title">Task name 2</label>
                                        </div>
                                        <div class="col-3">
                                            <div>
                                                <input type="checkbox">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row" style="margin-bottom: 15px;">
                                        <div class="col-9">
                                            <label class="hour-title">Task name 3</label>
                                        </div>
                                        <div class="col-3">
                                            <div>
                                                <input type="checkbox">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>