<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="row box">
            <div class="col-4" style="align-items: center; display: flex; justify-content: center;">
              <i class="nc-icon nc-button-play text-success icon" (click)="doCheckIn()"></i>
            </div>
            <div class="col-8">
              <p class="txt">Check-in</p>
              <p class="txt">{{checkIn}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="row box">
            <div class="col-4" style="align-items: center; display: flex; justify-content: center;">
              <i class="nc-icon nc-button-pause text-danger icon" (click)="doCheckOut()"></i>
            </div>
            <div class="col-8">
              <p class="txt">Check-out</p>
              <p class="txt">{{checkOut}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="box">
            <p class="txt">Working-type</p>
            <p class="txt">Office</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="row box">
            <div class="col-6 col-md-6">
              <div style="text-align: left;">
                <p class="txt">Today:</p>
                <p class="txt">Average:
                <p>
              </div>
            </div>
            <div class="col-6 col-md-6">
              <div>
                <p class="txt">8.0hrs</p>
                <p class="txt">8.5hrs
                <p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="box" style="height: 490px; overflow: auto;">
            <p class="txt" style="margin-bottom: 10px;">New Notifications</p>
            <hr style="margin-bottom: 10px;">
            <div class="noti-box" *ngFor="let noti of notifications" (click)="onSelect(noti)">
              <p class="noti-name">{{noti.name}}</p>
              <div class="row">
                <div class="col-md-6">
                  <div [ngSwitch]="noti.level">
                    <div class="noti-level text-danger" *ngSwitchCase="'Must Read'">
                      {{noti.level}}</div>
                    <div class="noti-level text-warning" *ngSwitchCase="'Important'">
                      {{noti.level}}</div>
                    <div class="noti-level text-success" *ngSwitchCase="'Normal'">
                      {{noti.level}}</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="noti-date">{{noti.date}}</div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="box" style="min-height: 490px;">
            <p class="txt" style="margin-bottom: 10px; margin-left: 10px; text-align: left;">Features</p>
            <hr style="margin-bottom: 20px;">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="feature-box row" [routerLink]="['/timesheet']">
                  <div class="icon-box">
                    <i class="fa-regular fa-clock feature-icon"></i>
                  </div>
                  <h5 class="feature-name">TimeSheets</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="feature-box row" [routerLink]="['/requests']">
                  <div class="icon-box">
                    <i class="fa-regular fa-newspaper feature-icon"></i>
                  </div>
                  <h5 class="feature-name">Requests</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="feature-box row" [routerLink]="['/otheruser']">
                  <div class="icon-box">
                    <i class="fa-solid fa-users feature-icon"></i>
                  </div>
                  <h5 class="feature-name">OtherUser</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="feature-box row" [routerLink]="['/devices']">
                  <div class="icon-box">
                    <i class="fa-solid fa-computer feature-icon"></i>
                  </div>
                  <h5 class="feature-name">Devices</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="feature-box row" [routerLink]="['/newpost']">
                  <div class="icon-box">
                    <i class="fa-regular fa-paper-plane feature-icon"></i>
                  </div>
                  <h5 class="feature-name">NewPost</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="feature-box row" [routerLink]="['/userinfos']">
                  <div class="icon-box">
                    <i class="fa-regular fa-user feature-icon"></i>
                  </div>
                  <h5 class="feature-name">UsersInfo</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="feature-box row" [routerLink]="['/userinfos']">
                  <div class="icon-box">
                    <i class="fa-solid fa-list-check feature-icon"></i>
                  </div>
                  <h5 class="feature-name">UsersTasks</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="feature-box row" [routerLink]="['/userinfos']">
                  <div class="icon-box">
                    <i class="fa-solid fa-network-wired feature-icon"></i>
                  </div>
                  <h5 class="feature-name">Structure</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="feature-box row" [routerLink]="['/userinfos']">
                  <div class="icon-box">
                    <i class="fa-regular fa-flag feature-icon"></i>
                  </div>
                  <h5 class="feature-name">DailyReport</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="card" style="min-height: 530px;">
            <div class="card-header ">
              <h5 class="card-title">Features</h5>
              <hr>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div style="display: flex; justify-content: center;">
                  <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
                    [routerLink]="['/timesheet']">
                    <div class="icon-big text-center">
                      <i class="nc-icon nc-time-alarm text-success" style="font-size: 40px;"></i>
                    </div>
                    <h5 style="font-size: 20px;">TimeSheets</h5>
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div style="display: flex; justify-content: center;">
                  <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
                    [routerLink]="['/requests']">
                    <div class="icon-big text-center">
                      <i class="nc-icon nc-paper text-success" style="font-size: 40px;"></i>
                    </div>
                    <h5 style="font-size: 20px;">Requests</h5>
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div style="display: flex; justify-content: center;">
                  <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
                    [routerLink]="['/otheruser']">
                    <div class="icon-big text-center">
                      <i class="nc-icon nc-app text-success" style="font-size: 40px;"></i>
                    </div>
                    <h5 style="font-size: 20px;">OtherUser</h5>
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div style="display: flex; justify-content: center;">
                  <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
                    [routerLink]="['/devices']">
                    <div class="icon-big text-center">
                      <i class="nc-icon nc-laptop text-success" style="font-size: 40px;"></i>
                    </div>
                    <h5 style="font-size: 20px;">Devices</h5>
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div style="display: flex; justify-content: center;">
                  <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
                    [routerLink]="['/newpost']">
                    <div class="icon-big text-center">
                      <i class="nc-icon nc-single-copy-04 text-success" style="font-size: 40px;"></i>
                    </div>
                    <h5 style="font-size: 20px;">NewPost</h5>
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div style="display: flex; justify-content: center;">
                  <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
                    [routerLink]="['/userinfos']">
                    <div class="icon-big text-center">
                      <i class="nc-icon nc-alert-circle-i text-success" style="font-size: 40px;"></i>
                    </div>
                    <h5 style="font-size: 20px;">UsersInfo</h5>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>