<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <button style="border: none; background: none; outline: none;" (click)="doCheckIn()">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-button-play text-success"></i>
              </div>
            </button>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title">Check-in</p>
              <p class="card-category">{{checkIn}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <button style="border: none; background: none; outline: none;" (click)="doCheckOut()">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-button-pause text-danger"></i>
              </div>
            </button>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title">Check-out</p>
              <p class="card-category">{{checkOut}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p class="card-title">Working-type</p>
              <p class="card-category">Office
              <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-6 col-md-6">
            <div class="numbers" style="text-align: left;">
              <p class="card-title">Total:</p>
              <p class="card-category">Avg:
              <p>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div class="numbers">
              <p class="card-title">8.0hrs</p>
              <p class="card-category">8.5hrs
              <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card" style="min-height: 530px;">
      <div class="card-header ">
        <h5 class="card-title">Notifications</h5>
        <hr>
      </div>
      <table style="cursor: pointer;">
        <tbody>
          <tr *ngFor="let noti of notifications" (click)="onSelect(noti)">
            <div class="card-header" style="padding-top: 4px;">
              <div class="card-title" style="font-size: 24px;">{{noti.name}}</div>
              <div class="row">
                <div class="col-md-6">
                  <div [ngSwitch]="noti.level">
                    <div class="card-category text-danger" style="font-size: 18px;" *ngSwitchCase="'Must Read'">
                      {{noti.level}}</div>
                    <div class="card-category text-warning" style="font-size: 18px;" *ngSwitchCase="'Important'">
                      {{noti.level}}</div>
                    <div class="card-category text-success" style="font-size: 18px;" *ngSwitchCase="'Normal'">
                      {{noti.level}}</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-category" style="text-align: right; font-size: 18px;">{{noti.date}}</div>
                </div>
              </div>
              <hr>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="min-height: 530px;">
      <div class="card-header ">
        <h5 class="card-title">Features</h5>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div style="display: flex; justify-content: center;">
            <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
              [routerLink]="['/timesheet']">
              <div class="icon-big text-center">
                <i class="nc-icon nc-time-alarm text-success" style="font-size: 40px;"></i>
              </div>
              <h5 style="font-size: 20px;">TimeSheets</h5>
            </button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div style="display: flex; justify-content: center;">
            <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
              [routerLink]="['/requests']">
              <div class="icon-big text-center">
                <i class="nc-icon nc-paper text-success" style="font-size: 40px;"></i>
              </div>
              <h5 style="font-size: 20px;">Requests</h5>
            </button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div style="display: flex; justify-content: center;">
            <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
              [routerLink]="['/otheruser']">
              <div class="icon-big text-center">
                <i class="nc-icon nc-app text-success" style="font-size: 40px;"></i>
              </div>
              <h5 style="font-size: 20px;">OtherUser</h5>
            </button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div style="display: flex; justify-content: center;">
            <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
              [routerLink]="['/devices']">
              <div class="icon-big text-center">
                <i class="nc-icon nc-laptop text-success" style="font-size: 40px;"></i>
              </div>
              <h5 style="font-size: 20px;">Devices</h5>
            </button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div style="display: flex; justify-content: center;">
            <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
              [routerLink]="['/newpost']">
              <div class="icon-big text-center">
                <i class="nc-icon nc-single-copy-04 text-success" style="font-size: 40px;"></i>
              </div>
              <h5 style="font-size: 20px;">NewPost</h5>
            </button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div style="display: flex; justify-content: center;">
            <button style="border: none; background: none; outline: none; padding-top: 15px; margin-bottom: 20px;"
              [routerLink]="['/userinfos']">
              <div class="icon-big text-center">
                <i class="nc-icon nc-alert-circle-i text-success" style="font-size: 40px;"></i>
              </div>
              <h5 style="font-size: 20px;">UsersInfo</h5>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>