<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="box" style="padding-top: 15px; padding-bottom: 15px;">
                        <div style="display: flex;">
                            <button type="button" class="btn btn-primary update-btn">New Division</button>
                        </div>
                        <div style=" height: 540px; overflow: auto; background-color: white; margin-left: 10px;">
                            <div style="margin: 10px 0; font-size: 20px;">
                                ---- CEO: A
                            </div>
                            <div style="margin: 10px 0; font-size: 20px;">
                                -------- Division Manager: B
                            </div>
                            <div style="margin: 10px 0; font-size: 20px;">
                                ------------ Team Lead: C
                            </div>
                            <div style="margin: 10px 0; font-size: 20px;">
                                ---------------- D
                            </div>
                            <div style="margin: 10px 0; font-size: 20px;">
                                ---------------- E
                            </div>
                            <div style="margin: 10px 0; font-size: 20px;">
                                -------- Division Manager: F
                            </div>
                            <div style="margin: 10px 0; font-size: 20px;">
                                ------------ Team Lead: G
                            </div>
                            <div style="margin: 10px 0; font-size: 20px;">
                                ---------------- H
                            </div>
                            <div style="margin: 10px 0; font-size: 20px;">
                                ---------------- I
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>