<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="box" style="padding-top: 15px; padding-bottom: 15px;">
                        <div style="display: flex;">
                            <div class="icon-box">
                                <i class="fa-solid fa-arrow-left"></i>
                            </div>
                            <div class="txt" style="width: 100px;">5/2024</div>
                            <div class="icon-box">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                            <button type="button" class="btn btn-primary update-btn">Export to Excel</button>
                        </div>
                        <div style=" height: 540px; overflow: auto; background-color: white; margin-left: 10px;">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>#Code</th>
                                    <th>Full Name</th>
                                    <th>Total hours</th>
                                    <th>Total day-off</th>
                                    <th>Title</th>
                                    <th>Level</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>24002</td>
                                        <td>Hoai Nhan</td>
                                        <td>180hrs</td>
                                        <td>0</td>
                                        <td>Team Lead</td>
                                        <td>Senior</td>
                                    </tr>
                                    <tr>
                                        <td>24003</td>
                                        <td>Hong Nhung</td>
                                        <td>160hrs</td>
                                        <td>2</td>
                                        <td>Staff</td>
                                        <td>Junior</td>
                                    </tr>
                                    <tr>
                                        <td>24004</td>
                                        <td>Hoai Hai</td>
                                        <td>189hrs</td>
                                        <td>0</td>
                                        <td>Staff</td>
                                        <td>Fresher</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>