<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="box" style="padding-top: 15px; padding-bottom: 15px;">
                        <div style="display: flex;">
                            <div class="icon-box">
                                <i class="fa-solid fa-arrow-left" (click)="previousMonth()"></i>
                            </div>
                            <div class="txt" style="width: 100px;">{{month}}/{{year}}</div>
                            <div class="icon-box">
                                <i class="fa-solid fa-arrow-right" (click)="nextMonth()"></i>
                            </div>
                        </div>
                        <div style=" height: 540px; overflow: auto; background-color: white; margin-left: 10px;">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>#Code</th>
                                    <th>Full Name</th>
                                    <th>Total hours</th>
                                    <th>Title</th>
                                    <th>TitleAllowance</th>
                                    <th>DegreeAllowance</th>
                                    <th>CertAllowance</th>
                                    <th>GeneralAllowance</th>
                                    <th>Evaluate</th>
                                    <th>Total</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sa of salary">
                                        <td>{{sa.staffID}}</td>
                                        <td>{{sa.staffName}}</td>
                                        <td>{{sa.totalHour}}</td>
                                        <td>{{sa.title}}</td>
                                        <td>{{sa.titleAllowance}}</td>
                                        <td>{{sa.degreeAllowance}}</td>
                                        <td>{{sa.certAllowance}}</td>
                                        <td>{{sa.generalAllowance}}</td>
                                        <td>{{sa.evaluate}}</td>
                                        <td>{{sa.total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>