<div class="row">
    <div class="col-12">
        <div class="card" style="padding: 15px;">
            <form>
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search by name...">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="nc-icon nc-zoom-split"></i>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>#Code</th>
                            <th>Full Name</th>
                            <th>Title</th>
                            <th>Level</th>
                            <th>Division</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2401</td>
                                <td>Le Hoai Hai</td>
                                <td>Team Leader</td>
                                <td>Senior</td>
                                <td>Shark1</td>
                            </tr>
                            <tr>
                                <td>2402</td>
                                <td>Hoai Nhan</td>
                                <td>Staff</td>
                                <td>Junior</td>
                                <td>Shark1</td>
                            </tr>
                            <tr>
                                <td>2403</td>
                                <td>Le Hong Nhung</td>
                                <td>Manager</td>
                                <td>Senior</td>
                                <td>Marketing</td>
                            </tr>
                            <tr>
                                <td>2404</td>
                                <td>Lan Anh</td>
                                <td>Part-time</td>
                                <td>No</td>
                                <td>Human Resource</td>
                            </tr>
                            <tr>
                                <td>2405</td>
                                <td>Thai Tuan</td>
                                <td>Team Leader</td>
                                <td>Junior</td>
                                <td>Human Resource</td>
                            </tr>
                            <tr>
                                <td>2406</td>
                                <td>Thai Tuan</td>
                                <td>Team Leader</td>
                                <td>Junior</td>
                                <td>Human Resource</td>
                            </tr>
                            <tr>
                                <td>2407</td>
                                <td>Thai Tuan</td>
                                <td>Team Leader</td>
                                <td>Junior</td>
                                <td>Human Resource</td>
                            </tr>
                            <tr>
                                <td>2408</td>
                                <td>Thai Tuan</td>
                                <td>Team Leader</td>
                                <td>Junior</td>
                                <td>Human Resource</td>
                            </tr>
                            <tr>
                                <td>2409</td>
                                <td>Le Hoai Hai</td>
                                <td>8:00 - 18:00</td>
                                <td>1hr</td>
                                <td>9hrs</td>
                            </tr>
                            <tr>
                                <td>2410</td>
                                <td>Le Hoai Hai</td>
                                <td>8:00 - 18:00</td>
                                <td>1hr</td>
                                <td>9hrs</td>
                            </tr>
                            <tr>
                                <td>2411</td>
                                <td>Le Hoai Hai</td>
                                <td>8:00 - 18:00</td>
                                <td>1hr</td>
                                <td>9hrs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>