<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="box" style="padding-top: 15px; padding-bottom: 15px;">
                        <div class="row">
                            <div class="col-10">
                                <form>
                                    <div class="input-group no-border" style="margin-left: 10px;">
                                        <input type="text" value="" class="form-control"
                                            placeholder="Search by ID or name...">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <i class="nc-icon nc-zoom-split"></i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn update-btn" style="margin: 0 0 10px 25px"
                                    (click)="openModal()">
                                    Thêm nhân viên
                                </button>
                            </div>
                        </div>
                        <div style=" height: 530px; overflow: auto; background-color: white; margin-left: 10px;">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>#Code</th>
                                    <th>Full Name</th>
                                    <th>Title</th>
                                    <th>Level</th>
                                    <th>Division</th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2401</td>
                                        <td>Le Hoai Hai</td>
                                        <td>Team Leader</td>
                                        <td>Senior</td>
                                        <td>Shark1</td>
                                        <td>
                                            <a style="cursor: pointer;">
                                                <i class="nc-icon nc-tap-01 text-warning" style="font-size: 20px;"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a style="cursor: pointer;">
                                                <i class="nc-icon nc-simple-remove text-danger"
                                                    style="font-size: 20px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal"
                style="display: block; z-index: 1050; opacity: 100; top: 100px; overflow: visible;"
                aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="showModal">
                <div class="modal-dialog dialog">
                    <div class="modal-content" style="border: 0; background-color: white;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="margin-bottom: 10px;">{{modalTitle}}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                (click)="closeModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row input-box">
                                    <div class="col-md-5 pr-1">
                                        <div class="form-group">
                                            <label>Họ tên</label>
                                            <input type="text" class="form-control" placeholder="Họ tên"
                                                value="Lê Hoài Hải">
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-1">
                                        <div class="form-group">
                                            <label>Ngày sinh</label>
                                            <input type="text" class="form-control" placeholder="Ngày sinh"
                                                value="21/05/2003">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label>Giới tính</label>
                                            <select class="custom-select">
                                                <option value="1">Nam</option>
                                                <option value="2">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row input-box">
                                    <div class="col-md-8 pr-1">
                                        <div class="form-group">
                                            <label>Phòng ban</label>
                                            <input type="text" class="form-control" placeholder="Phòng ban"
                                                value="Solution">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label>Ngày vào làm</label>
                                            <input type="text" class="form-control" placeholder="Ngày vào làm"
                                                value="01/01/2024">
                                        </div>
                                    </div>
                                </div>
                                <div class="row input-box">
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <select class="custom-select">
                                                <option value="1">Staff</option>
                                                <option value="2">Team Lead</option>
                                                <option value="3">Project Manager</option>
                                                <option value="4">Division Manager</option>
                                                <option value="5">CTO</option>
                                                <option value="6">CEO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-1">
                                        <div class="form-group">
                                            <label>Level</label>
                                            <select class="custom-select">
                                                <option value="1">Intern</option>
                                                <option value="2">Part-time</option>
                                                <option value="3">Fresher</option>
                                                <option value="4">Junior</option>
                                                <option value="5">Middle</option>
                                                <option value="6">Senior</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label>Mã người quản lý</label>
                                            <input type="text" class="form-control" placeholder="Mã người quản lý">
                                        </div>
                                    </div>
                                </div>
                                <div class="row input-box">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Địa chỉ</label>
                                            <input type="text" class="form-control" placeholder="Địa chỉ">
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-1">
                                        <div class="form-group">
                                            <label>Tài khoản</label>
                                            <input type="text" class="form-control" placeholder="Tài khoản">
                                        </div>
                                    </div>
                                    <div class="col-md-3 pl-1">
                                        <div class="form-group">
                                            <label>Mật khẩu</label>
                                            <input type="password" class="form-control" placeholder="Mật khẩu">
                                        </div>
                                    </div>
                                </div>
                                <div class="row input-box">
                                    <label class="col-12">Roles</label>
                                    <label class="col-4 container">
                                        <input class="check-box-role" type="checkbox" checked="checked">
                                        <span class="checkmark"></span>Staff
                                    </label>
                                    <label class="col-4 container">
                                        <input class="check-box-role" type="checkbox" checked="checked">
                                        <span class="checkmark"></span>HR Staff
                                    </label>
                                    <label class="col-4 container">
                                        <input class="check-box-role" type="checkbox" checked="checked">
                                        <span class="checkmark"></span>HR Manager
                                    </label>
                                    <label class="col-4 container">
                                        <input class="check-box-role" type="checkbox" checked="checked">
                                        <span class="checkmark"></span>Accountant
                                    </label>
                                    <label class="col-4 container">
                                        <input class="check-box-role" type="checkbox" checked="checked">
                                        <span class="checkmark"></span>Division Manager
                                    </label>
                                    <label class="col-4 container">
                                        <input class="check-box-role" type="checkbox" checked="checked">
                                        <span class="checkmark"></span>CEO
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary update-btn"
                                (click)="changeTime()">Process</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>