/* You can add global styles to this file, and also import other style files */
* {
    font-size: 18px;
}

.cs-card {
    background-color: #fff;
    margin: 5px 0px;
    border-radius: 8px;
    padding: 10px 15px;
    margin-right: 5px;
}

.icon {
    font-size: 20px;
    color: #16423C;
}

.container-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.container-row {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.col-12-6-3,
.col-12-6-6,
.col-12-6-4,
.col-6-6-4 {
    box-sizing: border-box;
}

.lg-3,
.lg-9,
.lg-4,
.lg-8,
.lg-5,
.lg-7,
.lg-6,
.md-6,
.md-12,
.sm-6,
.sm-12 {
    box-sizing: border-box;
}

.txt-center {
    text-align: center;
}

.txt-sm {
    font-size: 15px;
}

.txt-lg {
    font-size: 20px;
}

.succes {
    color: #42e448;
}

.danger {
    color: #f44336;
}

.warning {
    color: #ff9800;
}

.mg-l-10 {
    margin-left: 10px;
}

.mg-r-10 {
    margin-right: 10px;
}

.mg-t-10 {
    margin-top: 10px;
}

.mg-t-5 {
    margin-top: 5px;
}

.mg-b-10 {
    margin-bottom: 10px;
}

.mg-h-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mg-v-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.split {
    border-bottom: #C4DAD2 1.4px solid;
}

.hand {
    cursor: pointer;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: inherit;
    vertical-align: middle;
    border-collapse: collapse;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: #48CFCB;
    font-size: 16px;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

.table td,
.table th {
    padding: .375rem 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 16px;
}

@media screen and (min-width: 1024px) {

    .col-12-6-3,
    .lg-3 {
        flex-basis: calc(25% - 5px);
    }

    .col-12-6-6,
    .lg-6 {
        flex-basis: calc(50% - 5px);
    }

    .col-12-6-4,
    .col-6-6-4,
    .lg-4 {
        flex-basis: calc(33.3333333333% - 5px);
    }

    .lg-5 {
        flex-basis: calc(41.6666666667% - 5px);
    }

    .lg-9 {
        flex-basis: calc(75% - 5px);
    }

    .lg-8 {
        flex-basis: calc(66.6666666667% - 5px);
    }

    .lg-7 {
        flex-basis: calc(58.3333333333% - 5px);
    }
}

@media screen and (max-width: 1023px) {

    .col-12-6-3,
    .col-6-6-4,
    .col-12-6-6,
    .col-12-6-4,
    .md-6 {
        flex-basis: calc(50% - 5px);
    }

    .md-12 {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 768px) {

    .col-12-6-3,
    .col-12-6-6,
    .col-12-6-4,
    .sm-12 {
        flex-basis: 100%;
    }

    .col-6-6-4,
    .sm-6 {
        flex-basis: calc(50% - 5px);
    }
}