<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-user">
            <div class="card-body">
              <div class="author">
                <a>
                  <img class="avatar border-gray" style="margin-top: 80px;" src="assets/img/angular.png">
                  <h5 class="title">Lê Hoài Hải</h5>
                </a>
                <p class="description">
                  Team Leader - Senior
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Thông tin cơ bản</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Mật khẩu cũ</label>
                      <input type="password" class="form-control" placeholder="Mật khẩu cũ">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Mật khẩu mới</label>
                      <input type="password" class="form-control" placeholder="Mật khẩu mới">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Xác nhận mật khẩu mới</label>
                      <input type="password" class="form-control" placeholder="Xác nhận mật khẩu mới">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Chỉnh sửa thông tin cá nhân</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-5 pr-1">
                    <div class="form-group">
                      <label>Họ tên</label>
                      <input type="text" class="form-control" placeholder="Họ tên" value="Lê Hoài Hải">
                    </div>
                  </div>
                  <div class="col-md-3 px-1">
                    <div class="form-group">
                      <label>Ngày sinh</label>
                      <input type="text" class="form-control" placeholder="Ngày sinh" value="21/05/2003">
                    </div>
                  </div>
                  <div class="col-md-4 pl-1">
                    <div class="form-group">
                      <label>Giới tính</label>
                      <input type="text" class="form-control" placeholder="Email" value="Nam">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Phòng ban</label>
                      <input type="text" class="form-control" placeholder="Phòng ban" value="Solution">
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label>Ngày vào làm</label>
                      <input type="text" class="form-control" placeholder="Ngày vào làm" value="01/01/2024">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Địa chỉ liên hệ</label>
                      <input type="text" class="form-control" placeholder="Địa chỉ" value="Bình An, Dĩ An, Bình Dương">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 pr-1">
                    <div class="form-group">
                      <label>CCCD</label>
                      <input type="text" class="form-control" disabled="" placeholder="CCCD" value="0123456789">
                    </div>
                  </div>
                  <div class="col-md-4 px-1">
                    <div class="form-group">
                      <label>Ngày cấp</label>
                      <input type="text" class="form-control" disabled="" placeholder="Ngày cấp" value="09/09/2021">
                    </div>
                  </div>
                  <div class="col-md-4 pl-1">
                    <div class="form-group">
                      <label>Nơi cấp</label>
                      <input type="text" class="form-control" disabled="" placeholder="Nơi cấp" value="Quảng Trị">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-header">
              <h5 class="card-title">Người liên hệ khẩn cấp</h5>
            </div>
            <div class="card-body" style="height: fit-content;">
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Họ tên</label>
                    <input type="text" class="form-control" placeholder="Họ tên" value="LHH">
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" placeholder="Số điện thoại" value="0987654321">
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label>Mối quan hệ</label>
                    <input type="text" class="form-control" placeholder="Mối quan hệ" value="Anh/Chị">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>