<div class="fixed-plugin">
    <div class="show-dropdown" ngbDropdown>
        <a href="javascript:void(0)" ngbDropdownToggle id="dropdownConfig">
            <p style="color: white; font-size: 25px; padding-top: 10px;">10</p>
        </a>
        <div class="card" ngbDropdownMenu style="width: 750px">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-8" style="text-align: center;">TaskName</div>
                        <div class="col-2" style="text-align: center;">Start</div>
                        <div class="col-2" style="text-align: center;">Done?</div>
                    </div>
                </li>
                <li class="list-group-item" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-8">Task1</div>
                        <div class="col-2" style="text-align: center;">13:00</div>
                        <div class="col-2" style="text-align: center;">
                            <input type="checkbox">
                        </div>
                    </div>
                </li>
                <li class="list-group-item" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-8">Task2</div>
                        <div class="col-2" style="text-align: center;">14:00</div>
                        <div class="col-2" style="text-align: center;">
                            <input type="checkbox">
                        </div>
                    </div>
                </li>
                <li class="list-group-item" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-8">Task3</div>
                        <div class="col-2" style="text-align: center;">15:00</div>
                        <div class="col-2" style="text-align: center;">
                            <input type="checkbox">
                        </div>
                    </div>
                </li>
                <li class="list-group-item" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="New task">
                        </div>
                        <div class="col-2" style="text-align: center;">15:15</div>
                        <div class="col-2" style="text-align: center;">
                            <input type="button" class="form-control text-success" value="Add task">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>