<div class="fixed-plugin">
    <div class="show-dropdown" ngbDropdown>
        <a href="javascript:void(0)" ngbDropdownToggle id="dropdownConfig">
            <p class="count">{{tasks.length}}</p>
        </a>
        <div class="card" ngbDropdownMenu style="width: auto">
            <table class="table" style="width: 900px">
                <thead class="text-primary">
                    <th style="width: 300px;text-align: center;">Task Name</th>
                    <th style="width: 140px;text-align: center;">Status</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Estimate</th>
                    <th style="width: 250px; text-align: center;">Note</th>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks">
                        <td>{{task.taskName}}</td>
                        <td>
                            <input *ngIf="task.status == 'Done'" type="text" class="form-control" disabled=""
                                [(ngModel)]="task.status">
                            <select *ngIf="task.status != 'Done'" class="custom-select"
                                (change)="updateTask(task, true)" [(ngModel)]="task.status">
                                <option value="In Progress">In Progress</option>
                                <option value="Done">Done</option>
                                <option value="Pending">Pending</option>
                            </select>
                        </td>
                        <td>{{task.startTime}}</td>
                        <td>{{task.endTime}}</td>
                        <td style="text-align: center;">{{task.estimate}}h</td>
                        <td>
                            <input type="text" class="form-control" (blur)="updateTask(task, false)"
                                [(ngModel)]="task.note" placeholder="Note here">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="display: flex;">
                <div class="input-group" style="width: 550px;">
                    <input type="text" class="form-control" placeholder="New task" [(ngModel)]="newTask.taskName">
                </div>
                <div class="input-group" style="width: 110px;">
                    <input type="text" class="form-control" placeholder="Estimate" [(ngModel)]="newTask.estimate">
                </div>
                <div class="input-group" style="width: 240px; text-align: center;">
                    <input type="button" class="form-control text-primary" (click)="addNewTask()" value="Start">
                </div>
            </div>
        </div>
    </div>
</div>